name: Pipeline CI/CD Git-Panda

on:
    push:
        branches: [main]

env:
    NODE_VERSION: "24.13.0"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Set up Node Js
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Install Dependencies
              run: npm install

            - name: Build Application
              run: npm run build

    eslint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Set up Node Js
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Install Dependencies
              run: npm install

            - name: Run ESLint
              run: npm run lint
